@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    --icon-reset-filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
}



/* ---------- Estilo dos botões dos carrosséis ----------*/

/* Estilo personalizado para o botão de "anterior" */
.carousel-control-prev-icon {
    background-image: url('../img/arrow-left.svg');
    background-size: contain;

}

/* Estilo personalizado para o botão de "próximo" */
.carousel-control-next-icon {
    background-image: url('../img/arrow-right.svg');
    background-size: contain;

}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: var(--icon-reset-filter);
    top: 50%;
    transform: translateY(-50%);
}

body {
    font-family: "Montserrat", serif;
}

:root {
    --hover: linear-gradient(#ff523b, #f3b2e5);
    --cor-fonte: #fff;
    --cor-fonte-p: #555;
    --degrade-btn: linear-gradient(#563434, #15ff00);
    --color-p: #a1a1a1;
    --color-p-2: #868585;
}

/*---------- INICIO HEADER DO SITE ----------*/

.background-header {
    background: white;
}

/*---------- FIM HEADER DO SITE ----------*/
/*---------- INÍCIO CONTAINER ----------*/

/*---------- INÍCIO CLASSES REUTILIZÁVEIS----------*/
.container {
    max-width: 1440px;
    padding: 0 5%;
    margin-top: 20px;
}


/*---------- FIM CLASSES REUTILIZÁVEIS----------*/
/*---------- INÍCIO CLASSES DO SITE----------*/
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.logo img {
    max-width: 100%;
    max-height: 100px;
    margin-right: 100px;
}

/*----------INICIO CAIXA DE BUSCA----------*/
.search-container {
    display: flex;
    align-items: center;
    /* Alinha verticalmente ícone e input */
    width: 100%;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 5px;
    overflow: hidden;
    /* Evita sobras internas */
    color: black;
    background-color: #F5F5F5;
    transition: border 0.3s ease;
}

input#search-bar {
    flex: 1;
    color: #F5F5F5;
    /* Faz o input ocupar o restante do espaço */
    height: 100%;
    /* Altura igual ao container */
    border: none;
    /* Remove a borda duplicada do input */
    outline: none;
    /* Remove o contorno azul ao focar */
    font-size: 1rem;
    padding: 0 10px;
    /* Espaço interno no input */
    background-color: transparent;
}

/* Ícone no início da barra */
.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    /* Espaçamento interno */
    height: 100%;
    cursor: pointer;
    /* Indica interatividade */
    background-color: transparent;
}

#search-outline {
    width: 20px;
    /* Tamanho do ícone */
    height: 20px;
    color: #666;
    /* Cor do ícone */
}

/* Efeito ao focar na barra */
.search-container:focus-within {
    border: 1px solid black;
    /* Muda a borda ao focar */
}

input#search-bar:focus::placeholder {
    color: black;
    transition: opacity 0.5s ease;
}

/*----------FIM CAIXA DE BUSCA----------*/

.ul {
    max-width: 100%;
    display: flex;
    padding-top: 20px;
}

.ul li {
    padding: 2px 20px;
    font-size: 15px;
}

.ul li a {
    color: black;
    font-size: 22px;
}

/* ---------- INICIO MENU ---------- */
.menu-conteudos {
    display: flex;
    justify-content: center;
    /* Centraliza os itens no eixo horizontal */
    align-items: center;
    /* Centraliza os itens no eixo vertical */
    flex-wrap: wrap;
    /* Permite a quebra de linha quando há muitas opções */
    padding: 10px 0;
    /* Espaçamento interno */
}

.menu-conteudos ul {
    display: flex;
    align-content: center;
    justify-content: center;
    /* Centraliza os itens dentro da ul */
    align-items: center;
    flex-wrap: wrap;
    /* Quebra as linhas, caso necessário */
    gap: 15px;
    /* Espaço entre os itens */
    padding: 10px 10px;
    /* Remove espaçamento interno */
    margin: 0;
    /* Remove margens */
}

.menu-conteudos ul li {
    padding: 5px 15px;
    /* Espaço interno ao redor de cada item */
}

.menu-conteudos ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    transition: color 0.3s ease;
    /* Transição suave na mudança de cor */
}

.menu-conteudos ul li a:hover {
    color: rgb(111, 109, 109);
    /* Cor ao passar o mouse */
    text-decoration-line: underline;
}

/* ---------- FIM MENU ---------- */

/*---------- FIM CONTAINER ----------*/
/*---------- INICIO MAIN----------*/
main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 30px;
}

.main-txt {
    width: 50%;
    color: white;
    padding-right: 20px;
}

.main-txt h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 5px;
}

.main-text p {
    font-size: 20px;
    color: var(--color-p);
    padding: 10px 20px;
}

.main-img {
    width: 50%;

}

.main-img img {
    width: 100%;
    padding-left: 100px;

}


/*---------- FIM MAIN----------*/

/*---------- FIM CLASSES DO SITE----------*/


/*----------INÍCIO MENU ICON ----------*/
.menu-icon {
    display: none;
    font-size: 15px;
}

/*---------- FIM MENU ICON ----------*/
/*---------- INÍCIO RESPONSIVO  ----------*/
@media(max-width:1242px) {
    .menu-icon {
        display: block;
    }
}

/*---------- FIM RESPONSIVO  ----------*/

/*---------- COMEÇO CARROSSEL PRIMEIRA SEÇÃO  ----------*/

#carouselExampleInterval {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}


/* Estilo do carrossel */
#carouselProdutos {
    width: 75%;
    margin: 20px auto;
    justify-content: space-around;
    border-radius: 20px;
    overflow: hidden;

}

/* Produto dentro do carrossel */
.carousel-item .produto {
    margin: 10px;
    display: block;
    max-width: 250px;
    /* Ajuste conforme necessário */
}

.d-flex.justify-content-center.flex-wrap {
    justify-content: center;
    /* Centraliza itens sem espaçamento extra */
    gap: 10px;
    /* Use gap para um controle mais preciso do espaçamento */
}


/*---------- INICIO SEÇÃO NOVIDADES ----------*/

.novidades {
    width: 100%;
    padding: 20px 20px;
}

/* Título da seção */
.novidades h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
    font-weight: 500;
    color: #333;
}

#carouselProdutos .carousel-control-prev,
#carouselProdutos .carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 30px;
    height: 30px;
    padding-top: 20px;
    margin-bottom: 40px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    /* Transição suave */

}

#carouselProdutos .carousel-control-prev:hover,
#carouselProdutos .carousel-control-next:hover {
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    padding-top: 20px;
    margin-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.1);

}

#carouselProdutos .carousel-control-prev-icon,
#carouselProdutos .carousel-control-next-icon {
    width: 20px;
    /* Ajuste o tamanho do ícone */
    height: 20px;
    /* Ajuste o tamanho do ícone */
    background-size: 100%;
    /* Garante que o ícone ocupe toda a área */
    display: block;
}



/* Contêiner dos produtos */
.produtos {
    display: flex;
    justify-content: center;
    /* Centraliza os itens */
    flex-wrap: wrap;
    /* Permite múltiplas linhas */
    gap: 10px;
    /* Espaçamento entre itens */
    padding: 0 10px;
    margin-bottom: 10px;
}

/* Estilo individual do produto */
.produto {
    width: 250px;
    /* Largura do card */
    border: none;
    border-radius: 5px;
    /* Bordas arredondadas */
    padding: 10px;
    /* Espaçamento interno */
    text-align: center;
    /* Centraliza o texto */
    position: relative;
    /* Necessário para o pseudo-elemento ::after */
    overflow: hidden;
    transition: all 0.3s ease;
    /* Transição suave */
}

/* Linha inferior que aparece no hover */
.produto::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    height: 3px;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.produto:hover::after {
    transform: scaleX(1);
}

/* Imagem do produto */
.produto img {
    width: 100%;
    /* Ocupa toda a largura do card */
    height: auto;
    /* Ajusta altura proporcionalmente */
}

/* Centralizar descrição no carrossel */
.descricao {
    cursor: pointer;
    text-align: left;
}


.descricao .titulo {
    font-size: 16px;
    font-weight: 400;
    margin: 5px 0;
    color: #333;
    padding-top: 10px;
}

.descricao .subtitulo {
    font-size: 16px;
    color: #777;
    font-weight: 500;
    margin: 0;
    padding-top: 10px;
}

/*---------- FIM SEÇÃO NOVIDADES ----------*/
/*---------- INÍCIO SEÇÃO LANÇAMENTOS ----------*/

/*---------- FIM SEÇÃO LANÇAMENTOS ----------*/

/* Container Principal */
.container-principal {
    position: relative;
    background-color: #ffffff;
    text-align: center;
    margin: 20px 20px;
    padding-bottom: 70px;
    font-size: 24px;
    font-weight: 500;
    color: #333;


}

.container-principal h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
    font-weight: 700;
    color: #333;

}

/* Container Secundário */
.container-secundario {
    width: calc(100% - 20px);
    /* 10px de borda em cada lado */
    position: relative;
    top: 50px;
    left: 10px;
    display: flex;

}

/* Containers Filhos */
.container-esquerdo,
.container-direito {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
}



.container-direito {
    overflow: hidden;
}

.imagem-container {
    position: relative;
    width: calc(50% - 10px);
    margin: 0;
    overflow: hidden;
    
}




.imagem-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    transition: transform  0.3s ease;

}

.imagem-container:hover img {
    content: attr(data-hover-src);
    transform: scale(1.0);
    /* Animação leve */
}

.imagem-container:hover img::after {
    content: "";
    background-image: attr(data-hover-src);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;

}

/* Imagens Menores (lado esquerdo) */
.container-esquerdo img {
    width: 100%;
    margin: 0;
    object-fit: cover;
    position: relative;
    transition: transform 0.3s ease;

}

/* Caixa de Informações (Oculta por padrão) */
.imagem-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 32%;
    background-color: whitesmoke;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-top: 70%;
    padding-top: 1%;
    font-size: 14px;

}


/* Aparece no Hover */
.imagem-container:hover .imagem-info {
    opacity: 1;
}

/* Imagem Maior */
.container-direito img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.container-direito img:hover {
    transform: scale(1.1);
}